<!-- Footer -->
<section id="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3">
				<h5>Thông tin</h5>
				<ul class="list-unstyled quick-links">
					<li><a href=""><i class="fas fa-angle-double-right"></i></i>Giới thiệu</a></li>
					<li><a href=""><i class="fas fa-angle-double-right"></i></i>Sứ mệnh</a></li>
					<li><a href=""><i class="fas fa-angle-double-right"></i></i>Liên hệ</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<h5>Blogs</h5>
				<ul class="list-unstyled quick-links">
					<li><a href=""><i class="fas fa-angle-double-right"></i></i>Review sách</a></li>
					<li><a href=""><i class="fas fa-angle-double-right"></i></i>IT & Phần mềm</a></li>
					<li><a href=""><i class="fas fa-angle-double-right"></i></i>Ngoại ngữ</a></li>
					<li><a href=""><i class="fas fa-angle-double-right"></i></i>Kỹ năng mềm</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<h5>Cộng đồng</h5>
				<ul class="list-unstyled quick-links">
					<li><a href=""><i class="fas fa-angle-double-right"></i></i>Hỏi & đáp</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<h5>Kết nối</h5>
				<ul class="list-unstyled list-inline social">
					<li class="list-inline-item"><a href=""><i class="fab fa-facebook-f"></i></a></li>
					<li class="list-inline-item"><a href=""><i class="fab fa-twitter"></i></a></li>
					<li class="list-inline-item"><a href=""><i class="fab fa-instagram"></i></a></li>
					<li class="list-inline-item"><a href=""><i class="fab fa-google-plus-g"></i></a></li>
					<li class="list-inline-item"><a href=""><i class="fas fa-envelope"></i></a></li>
				</ul>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-white">
				<p>Copyright &copy 2018 by
					<a class="text-green ml-2" href="/" target="_blank">Xuân Vinh</a></p>
			</div>
		</div>
	</div>
</section>
<!-- ./Footer -->