*{}

.header-page .articles .gradient {
    position: absolute;
    width: 100%;
}

.header-page .articles.header.background img {
    width: 100%;
}

.border {
    padding: 0px 10px;
}

.form-control:focus{
	border-color: #00dd00;
	box-shadow: 0 0 0 0.1rem rgba(23, 204, 23, 0.57);
}

hr {
	background: #dcdcdc;
}

.bg-dark {
    background-color: #008800!important;
}

.navbar.navbar-expand-lg .navbar-brand img {
    width: 65px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #dcdcdc;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    font-weight:  bold;
}

.page-content form {
	padding: 25px 0 25px 0;
}

.page-content form .errorlist{
	color: #d11111;
	list-style: none;
    margin-top: 5px;
    padding-left: 0;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img {
    width:  100%;
    max-height: 600px;
}

.carousel-inner .item .carousel-caption h2 {
	color: #dcdcdc;
}

.carousel-inner .item .carousel-caption img {
	max-width: 200px;
}

/* css footer */
section {
    padding: 60px 0 10px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #222c38 !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    margin: 5px 0 15px 0; 
    color:#ffffff;
    font-weight: bold;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer p {
    color: #fff;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 10px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:35px;
	margin-top:-10px;
	color: #fff;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#dcdcdc;
}
#footer ul.social li a:hover{
	color:#fff;
}
#footer ul.quick-links li{
	margin-bottom: 7px;
}
#footer ul.quick-links li a{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li a:hover{
	padding: 3px 0;
	margin-left:10px;
	font-weight:700;
	color: #fff
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li a:hover i {
    font-weight: 700;
    color: #fff;
}

@media (max-width:767px){
	#footer h4 {
	    padding-left: 0;
	    border-left: transparent;
	    padding-bottom: 0px;
	    margin-bottom: 10px;
	}

	.carousel-inner .item .carousel-caption img, {
		max-width: 50px;
	}

	.carousel-inner .item .carousel-caption h2 {
		font-size: 30px;
	}
}

/* end css footer */

/* particles canvas */
#particles-js canvas.particles-js-canvas-el{
	max-height: 600px;
}

#particles-js{
    width: 100%;
	position: absolute;
    background: transparent;
    z-index: 1;
}
/* end particles canvas */

body{
	display: block;
}